<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>网站配置</title>
    <link rel="stylesheet" href="__ADMIN__/vendor/layui/css/layui.css">
    <link rel="stylesheet" href="custom/css/style.css">
</head>
<body style="padding:0 10px;">
<div class="layui-collapse" lay-accordion="" lay-filter="collapse">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">软件信息</h2>
        <div class="layui-colla-content layui-show">
            <table class="layui-table">
                <tr>
                    <td width="40%">软件名称</td>
                    <td width="60%">双语版企业网站</td>
                </tr>
                <tr>
                    <td>系统版本</td>
                    <td>v1.0.0</td>
                </tr>
                <tr>
                    <td>QQ群</td>
                    <td>88888888</td>
                </tr>
                <tr>
                    <td>官网</td>
                    <td><a href="#';">博弈网络</a></td>
                </tr>

            </table>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">服务器信息</h2>
        <div class="layui-colla-content">
            <table class="layui-table">
                <tr>
                    <td width="40%">服务器IP</td>
                    <td width="60%">{$system.IP}</td>
                </tr>
                <tr>
                    <td>服务器域名</td>
                    <td>{$system.host}</td>
                </tr>
                <tr>
                    <td>服务器操作系统</td>
                    <td>{$system.os}</td>
                </tr>
                <tr>
                    <td>运行环境</td>
                    <td>{$system.server}</td>
                </tr>
                <tr>
                    <td>服务器端口</td>
                    <td>{$system.port}</td>
                </tr>
                <tr>
                    <td>PHP版本</td>
                    <td>{$system.version}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">数据库信息</h2>
        <div class="layui-colla-content">
            <table class="layui-table">
                <tr>
                    <td width="40%">数据库版本</td>
                    <td width="60%">{$system.mysql_ver}</td>
                </tr>
                <tr>
                    <td>数据库名称</td>
                    <td>{$system.dbname}</td>
                </tr>
                <tr>
                    <td>数据库大小</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">管理员登录日志</h2>
        <div class="layui-colla-content">
            <table class="layui-table">
                <tr>
                    <td width="40%">PHP版本</td>
                    <td width="60%"></td>
                </tr>
                <tr>
                    <td>上传文件最大限制</td>
                    <td></td>
                </tr>
                <tr>
                    <td>脚本占用最大内存</td>
                    <td></td>
                </tr>
                <tr>
                    <td>POST提交最大限制</td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script src="__ADMIN__/vendor/js/jquery.js"></script>
<script src="__ADMIN__/vendor/layui/layui.js"></script>
<script src="__ADMIN__/custom/js/admin.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['layer','element'], function () {
        var layer = layui.layer, element = layui.element();

        //监听折叠
        element.on('collapse(collapse)', function(data){
            layer.msg('展开状态：'+ data.show);
        });

        // you code ...


    });
</script>
</body>
</html>